{{ include(':agriApp:base_head.html.twig') }}
<div class="container-fluid">

    <table id="companyTypeAttributeRecords" style="width: 100%" class="display table table-striped table-bordered">
        <h1>Company Type Attributes</h1>
        <h2><button type="button" data-toggle="modal" data-target="#addCompanyTypeAttribute" class="bg-purple btn btn-xs"><b><i class="fa fa-plus"></i> Add Attribute</b></button></h2>
        <thead>
        <th>ID</th>
        <th>Attribute</th>
        <th>Company Type</th>
        <th></th>
        </thead>
        <tbody>

        </tbody>
    </table>

</div>

<div id="addCompanyTypeAttribute" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="box-header with-border">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h3 class="box-title">Add Attribute</h3>
                </div>
                <div class="modal-body">
                    <form id="addCompanyTypeAttributeForm" role="form" action="">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="companyType">Company Type</label>
                                {#<input type="text" class="form-control" id="type"
                                       name="type"
                                       placeholder="Enter Type">#}
                                <select name="companyType" class="form-control" id="companyType">
                                {% for companyType in companyTypes %}
                                <option value="{{ companyType.id }}">{{ companyType.typeName }}</option>
                                {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="range">Attribute</label>
                                <input type="text" class="form-control" id="attribute"
                                       name="attribute"
                                       placeholder="Enter Attribute">
                            </div>
                        </div>
                        <!-- /.box-body -->

                        <div class="box-footer">
                            <button id="btn" type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
</div>

<div id="editCompanyTypeAttribute" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="box-header with-border">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h3 class="box-title">Edit Attribute</h3>
                </div>
                <div class="modal-body">
                    <form id="editCompanyTypeAttributeForm" role="form" action="">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="companyType">Company Type</label>
                                {#<input type="text" class="form-control" id="type"
                                       name="type"
                                       placeholder="Enter Type">#}
                                <select name="companyType" class="form-control" id="companyTypeEditID">
                                    {% for companyType in companyTypes %}
                                        <option value="{{ companyType.id }}">{{ companyType.typeName }}</option>
                                    {% endfor %}
                                </select>
                                <input type="hidden" id="attributeID" name="attributeID">
                            </div>
                            <div class="form-group">
                                <label for="range">Attribute</label>
                                <input type="text" class="form-control" id="attributeEdit"
                                       name="attribute"
                                       placeholder="Enter Attribute">
                            </div>
                        </div>
                        <!-- /.box-body -->

                        <div class="box-footer">
                            <button id="btn" type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
</div>

<div id="delCompanyTypeAttribute" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="box-header with-border">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h3 class="box-title">Confirm Delete</h3>
                </div>
                <div class="modal-body">
                    <form id="delAttribute" role="form"
                          action=""
                          method="">
                        <div class="box-body">
                            <p class="text-black">Are you sure you want to delete this
                                Instance??</p>
                            <div class="box-footer">
                                <button type="submit" class="pull-right btn btn-primary">Yes
                                </button>
                                <button type="button" class="pull-left btn btn-primary"
                                        data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">No</span></button>
                            </div>
                            <input type="hidden" id="delAttributeID" name="delAttributeID">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



<script>

    $(document).ready(function () {
        var tHead = $('#companyTypeAttributeRecords thead th');
        tHead.not(":eq(0),:eq(3)").each(function () {
            var title = $(this).text();
            //console.log(title);
            $(this).html('<input style="width:100%" type="text" placeholder='+ "\"" + title + "\"" +  '>');
        });

        var table = $('#companyTypeAttributeRecords').DataTable({

            "deferRender": true,

            "ajax" :
                {
                    "url": "/CompanyTypeAttributesRecords",
                    "type": "GET"
                },

            "columns": [
                {"data": "id"},
                {"data": "attributeName"},
                {"data": "companytype"}

            ],
            order: [],
            "pageLength": 15,
            "lengthMenu": [[15, 25, 50, -1], [15, 25, 50, "All"]],
            columnDefs: [{
                id: "DT_RowId",
                "targets": [0],
                "orderable": false,
                "searchable": false,
                "visible": false
            },
                {
                    "targets": [1],
                    "orderable": false
                },
                {
                    "targets":[3],
                    "data": null,
                    "defaultContent":'<button type="button" data-toggle="modal" data-target="#editCompanyTypeAttribute" class="editBut btn-group-xs btn bg-blue-gradient pull-left"><b><i class="fa fa-pencil"></i></b></button> <button type="button" data-toggle="modal" data-target="#delCompanyTypeAttribute" class="deleteBut btn-group-xs btn bg-danger pull-right"><b><i class="fa fa-times"></i></b></button>',
                    "orderable":false
                }
            ]
        });
        table.columns().every(function () {
            var that = this;

            $('input', this.header()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();
                }
            });

            $('select', this.header()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    console.log(this.value);
                    if (this.value === "") {
                        that.search('').draw();
                    }
                    else that.search("^" + this.value + "$", true, false).draw();
                }
            });

        });
    });


</script>

<script>
    $('#companyTypeAttributeRecords tbody').on( 'click', '.deleteBut', function () {
        var table = $('#companyTypeAttributeRecords').DataTable();
        var data = table.row( $(this).parents('tr') ).data();
        $("#delAttributeID").val(data.id);
    });
    $('#companyTypeAttributeRecords tbody').on( 'click', '.editBut', function () {
        var table = $('#companyTypeAttributeRecords').DataTable();
        var data = table.row( $(this).parents('tr') ).data();
        var g=(data.companytype);
//        console.log(g);
        editRow(data,g);
    });

    function editRow(e,g)
    {
//        console.log(e);
        $("#attributeID").val(e.id);
        $("#attributeEdit").val(e.attributeName);
//        $("#companyTypeEdit").val(e.companyType);
        $("#companyTypeEdit option").filter(function(){
            return $(this).text() === g;
        }).prop('selected','selected');
    }


    $("#companyType").focus(function(){
        getCompanyTypes();
    });
    $(document).on("submit", "#addCompanyTypeAttributeForm", function (e) {

        e.preventDefault();

        var data_array = $('#addCompanyTypeAttributeForm').serialize();

        $.ajax({
            url: '{{ path('addCompanyTypeAttribute') }}',
            data: data_array,
            type: "POST",
            success: function (data) {
//                    getCompanyTypes();
                    $("#addCompanyTypeAttribute").modal("hide");
                    $("#attribute").val("");

                    var table = $('#companyTypeAttributeRecords').DataTable();
                    table.ajax.reload(null, false);
                }

        });
    });
    function deleterow(e) {
        var table = $('#companyTypeAttributeRecords').DataTable();
        if (confirm('Are you sure you want to delete this?')) {
            $.ajax({
                url: '/deleteCompanyTypeAttribute/'+e,
                type: 'POST',
                success: function (data) {
//                    console.log(data);
                    if(data.status == 'success') {
                        table.ajax.reload(null, false);
                    }if(data.status == 'error'){
                        //display the message
                    }
                }
            });
        }
    }

    function getCompanyTypes() {
        $.ajax({
            url:'{{ path('CompanyTypeRecords') }}',
            type:'GET',
            dataType: 'json',
            success: function( json ) {
                for(var i=0;i<json.data.length;i++)
                {
                        $('#companyType').append($('<option>', {
                            value: json.data[i].id,
                            text: json.data[i].typeName
                        }));
                }
            }
        })
    }

    $(document).on("submit", "#delAttribute", function (e){

        e.preventDefault();

        var data_array = $('#delAttribute').serialize();
//        console.log(data_array);
        $.ajax({
            url: '{{ path('deleteCompanyTypeAttribute') }}',
            data: data_array,
            type: "POST",
            success: function (data) {
                if(data.status == 'success') {
                    $("#delCompanyTypeAttribute").modal("hide");
                    $("#delAttributeID").val("");
                    var table = $('#companyTypeAttributeRecords').DataTable();
                    table.ajax.reload(null, false);
                }if(data.status == 'error'){
                    //display the message
                }
            }
        });

    });

    $(document).on("submit", "#editCompanyTypeAttributeForm", function (e){

        e.preventDefault();

        var data_array = $('#editCompanyTypeAttributeForm').serialize();
//        console.log(data_array);
        $.ajax({
            url: '{{ path('editCompanyTypeAttribute') }}',
            data: data_array,
            type: "POST",
            success: function (data) {

                    $("#editCompanyTypeAttribute").modal("hide");
                    $("#attributeEdit").val("");
                    var table = $('#companyTypeAttributeRecords').DataTable();
                    table.ajax.reload(null, false);

                    //display the message
            }
        });

    });

</script>
{{ include(':agriApp:base_foot.html.twig') }}