{{ include(':agriApp:base_head.html.twig') }}
<div class="container-fluid">

    <table id="cityRecords" style="width: 100%" class="display table table-striped table-bordered">
        <h1>Cities</h1>
        <h2><button type="button" data-toggle="modal" data-target="#addCities"
                    class="bg-purple btn btn-xs"><b><i class="fa fa-plus"></i> Add City</b></button></h2>
        <thead>
        <th>ID</th>
        <th>Name</th>
        <th>District</th>
        <th>Governorate</th>
        <th></th>
        </thead>
        <tbody>

        </tbody>
    </table>

</div>


<div id="addCities" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="box-header with-border">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h3 class="box-title">Add City</h3>
                </div>
                <div class="modal-body">
                    <form id="addCityForm" role="form" action="">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="gover_district_txt_add">Governorate</label>
                                <input type="text" class="form-control" id="gover_district_txt_add" name="gover_district_txt_add" disabled>
                                <label for="district_select">District</label>
                                <select id="district_select" name="district_select" class="form-control" >
                                    <option value="default" g_gov="Please Select a District" selected="selected">select District</option>
                                    {% for district in districts %}
                                        <option value="{{ district.id }}" g_gov="{{ district.governorate.name }}">{{ district.name }}</option>
                                    {% endfor %}
                                </select>

                                <label for="txt_city_add">City</label>
                                <input type="text" class="form-control" id="txt_city_add"
                                       name="txt_city_add"
                                       placeholder="e.g. Jbeil" required>
                            </div>
                        </div>
                        <div class="box-footer">
                            <button id="btn" type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
</div>


<div id="editCities" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="box-header with-border">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h3 class="box-title">Add City</h3>
                </div>
                <div class="modal-body">
                    <form id="editCityForm" role="form" action="">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="gover_district_txt_edit">Governorate</label>
                                <input type="text" class="form-control" id="gover_district_txt_edit" name="gover_district_txt_edit" disabled>
                                <label for="district_select_edit">District</label>
                                <select id="district_select_edit" name="district_select_edit" class="form-control" >
                                    <option value="default" g_gov="Please Select a District">select District</option>
                                    {% for district in districts %}
                                        <option value="{{ district.id }}" g_gov="{{ district.governorate.name }}">{{ district.name }}</option>
                                    {% endfor %}
                                </select>

                                <label for="txt_city_edit">City</label>
                                <input type="text" class="form-control" id="txt_city_edit"
                                       name="txt_city_edit"
                                       placeholder="" required>
                                <input type="hidden" id="h_cityID_edit" name="h_cityID_edit">
                            </div>
                        </div>
                        <div class="box-footer">
                            <button id="btn" type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
</div>

<div id="delCities" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="box-header with-border">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h3 class="box-title">Confirm Delete</h3>
                </div>
                <div class="modal-body">
                    <form id="delCitiesForm" role="form"
                          action=""
                          method="">
                        <div class="box-body">
                            <p class="text-black">Are you sure you want to delete this
                                Instance??</p>
                            <div class="box-footer">
                                <button type="submit" class="pull-right btn btn-primary">Yes
                                </button>
                                <button type="button" class="pull-left btn btn-primary"
                                        data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">No</span></button>
                            </div>
                            <input type="hidden" id="h_cityID_del" name="h_cityID_del">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {

        var tHead = $('#cityRecords thead th');
        tHead.not(":eq(0),:eq(4)").each(function () {
            var title = $(this).text();
            //console.log(title);
            $(this).html('<input style="width:100%" type="text" placeholder='+ "\"" + title + "\"" +  '>');
        });

        var table = $('#cityRecords').DataTable({

            "deferRender": true,

            "ajax" :
                {
                    "url": {{ path('CitiesRecords') }},
                    "type": "GET"
                },

            "columns": [
                {"data": "id"},
                {"data": "name"},
                {"data": "district_name"},
                {"data": "governorate_name"}

            ],
            order: [],
            "pageLength": 15,
            "lengthMenu": [[15, 25, 50, -1], [15, 25, 50, "All"]],
            columnDefs: [{
                id: "DT_RowId",
                "targets": [0],
                "orderable": false,
                "searchable": false,
                "visible": false
            },
                {
                    "targets": [1, 2, 3],
                    "orderable": false
                },
                {
                    "targets":[4],
                    "data": null,
                    "defaultContent":'<span class="pull-right"><button type="button" data-toggle="modal" data-target="#delCities" class="deleteBut btn-group-xs btn bg-red-active"><b><i class="fa fa-times"></i></b></button></span><span class="pull-left"><button type="button" data-toggle="modal" data-target="#editCities" class="editBut btn-group-xs btn bg-blue-gradient"><b><i class="fa fa-pencil"></i></b></button></span>',
                    "orderable":false
                }
            ]
        });
        table.columns().every(function () {
            var that = this;

            $('input', this.header()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();
                }
            });

            $('select', this.header()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    console.log(this.value);
                    if (this.value === "") {
                        that.search('').draw();
                    }
                    else that.search("^" + this.value + "$", true, false).draw();
                }
            });

        });
    });


</script>


<script>

    $('#cityRecords tbody').on( 'click', '.editBut', function () {
        var table = $('#cityRecords').DataTable();
        var data = table.row( $(this).parents('tr') ).data();
//        console.log($.parseHTML(data.range)[0].data);
        editRow(data.id,$.parseHTML(data.name)[0].data,$.parseHTML(data.district_name)[0].data,$.parseHTML(data.governorate_name)[0].data);
    });

    function editRow(e,f,g,h)
    {
        var table = $('#cityRecords').DataTable();
//        editCompanyAnnualSalesForm
        $("#txt_city_edit").val(f);
        $("#h_cityID_edit").val(e);
        $("#district_select_edit option").filter(function(){
            return $(this).text() == g;
        }).prop('selected','selected');
        $("#gover_district_txt_edit").val(h);
    }

    $(document).on("submit", "#editCityForm", function (e)
    {
        e.preventDefault();

        var data_array = $('#editCityForm').serialize();
        //console.log(data_array);
        $.ajax({
            url: '{{ path('editCity') }}',
            data: data_array,
            type: "POST",
            success: function (data) {
                if(data.status == 'success') {
                    $("#editCities").modal("hide");
                    $("#txt_city_edit").val("");
                    $("#h_cityID_edit").val("");
                    $("#district_select_edit").val("default");
                    $("#gover_district_txt_edit").val("");
                    var table = $('#cityRecords').DataTable();
                    table.ajax.reload(null, false);
                }if(data.status == 'error'){
                    //display the message
                }
            }
        });

    });

</script>


<script>

    $('#cityRecords tbody').on( 'click', '.deleteBut', function () {
        var table = $('#cityRecords').DataTable();
        var data = table.row( $(this).parents('tr') ).data();
        $("#h_cityID_del").val(data.id);
    });



    $(document).on("submit", "#delCitiesForm", function (e){

        e.preventDefault();

        var data_array = $('#delCitiesForm').serialize();

        console.log(data_array);
        $.ajax({
            url: '{{ path('deleteCity') }}',
            data: data_array,
            type: "POST",
            success: function (data) {
                if(data.status == 'success') {
                    $("#delCities").modal("hide");
                    $("#h_cityID_del").val("");
                    var table = $('#cityRecords').DataTable();
                    table.ajax.reload(null, false);
                }if(data.status == 'error'){
                    //display the message
                }
            }
        });

    });


</script>


<script>
    $(document).on("submit", "#addCityForm", function (e) {
        e.preventDefault();
        var data_array = $('#addCityForm').serialize();
        $.ajax({
            url: '{{ path('addCity') }}',
            data: data_array,
            type: "POST",
            success: function (data) {
                if(data.status == 'success') {
                    $("#addCities").modal("hide");
                    $("#txt_city_add").val("");
                    $("#district_select").val("default");
                    $("#gover_district_txt_edit").val("");
                    var table = $('#cityRecords').DataTable();
                    table.ajax.reload(null, false);
                }if(data.status == 'error'){
                    //display the message
                }
            }
        });
    });
</script>

<script>

    $('#district_select').on('change',function () {
      /* var ind = this.value;*/
       var gov = $('option:selected',this).attr('g_gov');

      /* console.log(ind);*/

      $('#gover_district_txt_add').val(gov);

    });

    $('#district_select_edit').on('change',function () {
        /* var ind = this.value;*/
        var gov = $('option:selected',this).attr('g_gov');

        /* console.log(ind);*/

        $('#gover_district_txt_edit').val(gov);

    });

</script>



<script>
    $(document).ready(function () {

        jQuery.validator.addMethod("valueNotEquals", function(value, element,arg) {
            return this.optional(element) || arg != value;
        }, "Please specify a District");


        $('#editCityForm').validate({

            rules:{
                district_select_edit:{
                    required: true,
                    valueNotEquals: "default"
                },
                txt_city_edit:{
                    required: true
                }

            }

        });

        $('#addCityForm').validate({

            rules:{
                district_select:{
                    required: true,
                    valueNotEquals: "default"
                },
                txt_city_add:{
                    required: true
                }

            }

        });
    });
</script>
{{ include(':agriApp:base_foot.html.twig') }}