{{ include(':agriApp:base_head.html.twig') }}
<div class="container-fluid">

    <table id="wasteTypeCatRecords" style="width: 100%" class="display table table-striped table-bordered">

        <h1>Waste Categories</h1>
        <h2><button type="button" data-toggle="modal" data-target="#addwasteTypeCat"
                    class="bg-purple btn btn-xs"><b><i class="fa fa-plus"></i> Add Waste Category</b></button></h2>
        <thead>
        <th>ID</th>
        <th>Category</th>
        <th>Waste Type</th>
        <th></th>
        </thead>
        <tbody>

        </tbody>
    </table>

</div>


<div id="addwasteTypeCat" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="box-header with-border">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h3 class="box-title">Add Waste Type Category</h3>
                </div>
                <div class="modal-body">
                    <form id="addwasteTypeCatForm" role="form" action="">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="wastetype_select">Waste Types</label>
                                <select id="wastetype_select" name="wastetype_select" class="form-control" >
                                    <option value="default" selected="selected">select Waste Type</option>
                                    {% for wastetype in wastetypes %}
                                        <option value="{{ wastetype.id }}">{{ wastetype.name }}</option>
                                    {% endfor %}
                                </select>

                                <label for="txt_wastetypecat_add">Waste Category</label>
                                <input type="text" class="form-control" id="txt_wastetypecat_add"
                                       name="txt_wastetypecat_add"
                                       placeholder="e.g. Protein" required>
                            </div>
                        </div>

                        <div class="box-footer">
                            <button id="btn" type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
</div>



<div id="editwasteTypeCat" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="box-header with-border">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h3 class="box-title">Edit Waste Type Category</h3>
                </div>
                <div class="modal-body">
                    <form id="editwasteTypeCatForm" role="form" action="">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="wastetype_select_edit">Waste Types</label>
                                <select id="wastetype_select_edit" name="wastetype_select_edit" class="form-control" >
                                    <option value="default">select Waste Type</option>
                                    {% for wastetype in wastetypes %}
                                        <option value="{{ wastetype.id }}">{{ wastetype.name }}</option>
                                    {% endfor %}
                                </select>

                                <label for="txt_wastetypecat_edit">Waste Category</label>
                                <input type="text" class="form-control" id="txt_wastetypecat_edit"
                                       name="txt_wastetypecat_edit"
                                       placeholder="" required>
                                <input type="hidden" id="h_wastetypecatID_edit" name="h_wastetypecatID_edit">
                            </div>
                        </div>
                        <!-- /.box-body -->

                        <div class="box-footer">
                            <button id="editBtn" type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
</div>



<div id="delwasteTypeCat" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="box-header with-border">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h3 class="box-title">Confirm Delete</h3>
                </div>
                <div class="modal-body">
                    <form id="delwasteTypeCatForm" role="form"
                          action=""
                          method="">
                        <div class="box-body">
                            <p class="text-black">Are you sure you want to delete this
                                Instance??</p>
                            <div class="box-footer">
                                <button type="submit" class="pull-right btn btn-primary">Yes
                                </button>
                                <button type="button" class="pull-left btn btn-primary"
                                        data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">No</span></button>
                            </div>
                            <input type="hidden" id="h_wastetypecatID_del" name="h_wastetypecatID_del">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



<script>

    $(document).ready(function () {

        var tHead = $('#wasteTypeCatRecords thead th');
        tHead.not(":eq(0),:eq(3)").each(function () {
            var title = $(this).text();
            //console.log(title);
            $(this).html('<input style="width:100%" type="text" placeholder='+ "\"" + title + "\"" +  '>');
        });

        var table = $('#wasteTypeCatRecords').DataTable({

            "deferRender": true,

            "ajax" :
                {
                    "url": {{ path('WasteTypeCategoryRecords') }},
                    "type": "GET"
                },

            "columns": [
                {"data": "id"},
                {"data": "name"},
                {"data": "wastetype_name"}

            ],
            order: [],
            "pageLength": 15,
            "lengthMenu": [[15, 25, 50, -1], [15, 25, 50, "All"]],
            columnDefs: [{
                id: "DT_RowId",
                "targets": [0],
                "orderable": false,
                "searchable": false,
                "visible": false
            },
                {
                    "targets": [1, 2],
                    "orderable": false
                },
                {
                    "targets":[3],
                    "data": null,
                    "defaultContent":'<span class="pull-right"><button type="button" data-toggle="modal" data-target="#delwasteTypeCat" class="deleteBut btn-group-xs btn bg-red-active"><b><i class="fa fa-times"></i></b></button></span><span class="pull-left"><button type="button" data-toggle="modal" data-target="#editwasteTypeCat" class="editBut btn-group-xs btn bg-blue-gradient"><b><i class="fa fa-pencil"></i></b></button></span>',
                    "orderable":false
                }
            ]
        });
        table.columns().every(function () {
            var that = this;

            $('input', this.header()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();
                }
            });

            $('select', this.header()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    console.log(this.value);
                    if (this.value === "") {
                        that.search('').draw();
                    }
                    else that.search("^" + this.value + "$", true, false).draw();
                }
            });

        });
    });


</script>


<script>

    $('#wasteTypeCatRecords tbody').on( 'click', '.editBut', function () {
        var table = $('#wasteTypeCatRecords').DataTable();
        var data = table.row( $(this).parents('tr') ).data();
//        console.log($.parseHTML(data.range)[0].data);
        editRow(data.id,$.parseHTML(data.name)[0].data,$.parseHTML(data.wastetype_name)[0].data);
    });

    function editRow(e,f,g)
    {
        var table = $('#wasteTypeCatRecords').DataTable();
//        editCompanyAnnualSalesForm
        $("#txt_wastetypecat_edit").val(f);
        $("#h_wastetypecatID_edit").val(e);
        $("#wastetype_select_edit option").filter(function(){
            return $(this).text() == g;
        }).prop('selected','selected');

    }

    $(document).on("submit", "#editwasteTypeCatForm", function (e)
    {
        e.preventDefault();

        var data_array = $('#editwasteTypeCatForm').serialize();
        //console.log(data_array);
        $.ajax({
            url: '{{ path('editWasteTypeCat') }}',
            data: data_array,
            type: "POST",
            success: function (data) {
                if(data.status == 'success') {
                    $("#editwasteTypeCat").modal("hide");
                    $("#txt_wastetypecat_edit").val("");
                    $("#h_wastetypecatID_edit").val("");
                    $("#wastetype_select_edit").val("default");
                    var table = $('#wasteTypeCatRecords').DataTable();
                    table.ajax.reload(null, false);
                }if(data.status == 'error'){
                    //display the message
                }

            }
        });

    });

</script>

<script>

    $('#wasteTypeCatRecords tbody').on( 'click', '.deleteBut', function () {
        var table = $('#wasteTypeCatRecords').DataTable();
        var data = table.row( $(this).parents('tr') ).data();
        $("#h_wastetypecatID_del").val(data.id);
    });



    $(document).on("submit", "#delwasteTypeCatForm", function (e){

        e.preventDefault();

        var data_array = $('#delwasteTypeCatForm').serialize();
//        console.log(data_array);
        $.ajax({
            url: '{{ path('deleteWasteTypeCat') }}',
            data: data_array,
            type: "POST",
            success: function (data) {
                if(data.status == 'success') {
                    $("#delwasteTypeCat").modal("hide");
                    $("#h_wastetypecatID_del").val("");
                    var table = $('#wasteTypeCatRecords').DataTable();
                    table.ajax.reload(null, false);
                }if(data.status == 'error'){
                    //display the message
                }
            }
        });

    });


</script>

<script>
    $(document).on("submit", "#addwasteTypeCatForm", function (e) {

        e.preventDefault();

        var data_array = $('#addwasteTypeCatForm').serialize();

        console.log(data_array)


        $.ajax({
            url: '{{ path('addWasteTypeCat') }}',
            data: data_array,
            type: "POST",
            success: function (data) {
                if(data.status == 'success') {
                    $("#addwasteTypeCat").modal("hide");
                    $("#txt_wastetypecat_add").val("");
                    $("#wastetype_select").val("default");
                    var table = $('#wasteTypeCatRecords').DataTable();
                    table.ajax.reload(null, false);
                }if(data.status == 'error'){
                    //display the message
                }

            }
        });

    });

</script>

<script>
    $(document).ready(function () {

        jQuery.validator.addMethod("valueNotEquals", function(value, element,arg) {
            return this.optional(element) || arg != value;
        }, "Please specify a Waste Type");


        $('#editwasteTypeCatForm').validate({

            rules:{
                wastetype_select_edit:{
                    required: true,
                    valueNotEquals: "default"
                },
                txt_wastetypecat_edit:{
                    required: true
                }

            }

        });

        $('#addwasteTypeCatForm').validate({

            rules:{
                wastetype_select:{
                        required: true,
                    valueNotEquals: "default"
                },
                txt_wastetypecat_add:{
                    required: true
                }

            }

        });
    });
</script>

{{ include(':agriApp:base_foot.html.twig') }}