{{ include(':agriApp:base_head.html.twig') }}
<div class="container-fluid">


    <table id="menuTypeRecords" style="width: 100%" class="display table table-striped table-bordered">
        <h1>Menu Types</h1>
        <h2><button type="button" data-toggle="modal" data-target="#addMenuType"
                    class="bg-purple btn btn-xs"><b><i class="fa fa-plus"></i> Add Menu Type</b></button></h2>
        <thead>
        <th>ID</th>
        <th>Type</th>
        <th></th>
        </thead>
        <tbody>

        </tbody>
    </table>


</div>


<div id="addMenuType" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="box-header with-border">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h3 class="box-title">Add Menu Type</h3>
                </div>
                <div class="modal-body">
                    <form id="addMenuTypeForm" role="form" action="">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="menutypeadd">Type</label>
                                <input type="text" class="form-control" id="menutypeadd"
                                       name="menutypeadd"
                                       placeholder="e.g. NGO, Waste Collection Companies" required>
                            </div>
                        </div>
                        <div class="box-footer">
                            <button id="btn" type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
</div>

<div id="editMenuType" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="box-header with-border">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h3 class="box-title">Edit Menu Type</h3>
                </div>
                <div class="modal-body">
                    <form id="editMenuTypeForm" role="form" action="">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="editmenutypetxt">Menu Type</label>
                                <input type="text" class="form-control" id="editmenutypetxt"
                                       name="editmenutypetxt"
                                       placeholder="" required>
                                <input type="hidden" id="menutypeEditID" name="menutypeEditID">

                            </div>
                        </div>

                        <div class="box-footer">
                            <button id="editBtn" type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
</div>

<div id="delMenuType" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="box-header with-border">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h3 class="box-title">Confirm Delete</h3>
                </div>
                <div class="modal-body">
                    <form id="delMenuTypeForm" role="form"
                          action=""
                          method="">
                        <div class="box-body">
                            <p class="text-black">Are you sure you want to delete this
                                Instance??</p>
                            <div class="box-footer">
                                <button type="submit" class="pull-right btn btn-primary">Yes
                                </button>
                                <button type="button" class="pull-left btn btn-primary"
                                        data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">No</span></button>
                            </div>
                            <input type="hidden" id="menutypedelID" name="menutypedelID">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {

        var tHead = $('#menuTypeRecords thead th');
        tHead.not(":eq(0),:eq(2)").each(function () {
            var title = $(this).text();
            //console.log(title);
            $(this).html('<input style="width:100%" type="text" placeholder='+ "\"" + title + "\"" +  '>');
        });

        var table = $('#menuTypeRecords').DataTable({

            "deferRender": true,

            "ajax" :
                {
                    "url": "{{ path('MenuTypeRecords') }}",
                    "type": "GET"
                },

            "columns": [
                {"data": "id"},
                {"data": "typeName"}
            ],
            order: [],
            "pageLength": 15,
            "lengthMenu": [[15, 25, 50, -1], [15, 25, 50, "All"]],
            columnDefs: [{
                id: "DT_RowId",
                "targets": [0],
                "orderable": false,
                "searchable": false,
                "visible": false
            },
                {
                    "targets": [1],
                    "orderable": false
                },
                {
                    "targets":[2],
                    "data": null,
                    "defaultContent":'<span class="pull-right"><button type="button" data-toggle="modal" data-target="#delMenuType" class="deleteBut btn-group-xs btn bg-red-active"><b><i class="fa fa-times"></i></b></button></span><span class="pull-left"><button type="button" data-toggle="modal" data-target="#editMenuType" class="editBut btn-group-xs btn bg-blue-gradient"><b><i class="fa fa-pencil"></i></b></button></span>',
                    "orderable":false
                }
            ]
        });
        table.columns().every(function () {
            var that = this;

            $('input', this.header()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();
                }
            });

            $('select', this.header()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    console.log(this.value);
                    if (this.value === "") {
                        that.search('').draw();
                    }
                    else that.search("^" + this.value + "$", true, false).draw();
                }
            });

        });
    });

</script>



<script>
    $('#menuTypeRecords tbody').on( 'click', '.deleteBut', function () {
        var table = $('#menuTypeRecords').DataTable();
        var data = table.row( $(this).parents('tr') ).data();
        $("#menutypedelID").val(data.id);
//        deleterow(data.id);
    });
    $('#menuTypeRecords tbody').on( 'click', '.editBut', function () {
        var table = $('#menuTypeRecords').DataTable();
        var data = table.row( $(this).parents('tr') ).data();
        // console.log($.parseHTML(data.typeName)[0].data);
        //  console.log($.parseHTML(data.id)[0].data);
       // console.log(data);
        editRow(data.id,$.parseHTML(data.typeName)[0].data);
    });

    function editRow(e,f)
    {
        var table = $('#menuTypeRecords').DataTable();
//        editCompanyAnnualSalesForm
        $("#editmenutypetxt").val(f);
        $("#menutypeEditID").val(e);

    }



</script>

<script>
    $(document).on("submit", "#addMenuTypeForm", function (e) {

        e.preventDefault();

        var data_array = $('#addMenuTypeForm').serialize();

        $.ajax({
            url: '{{ path('addMenuType') }}',
            data: data_array,
            type: "POST",
            success: function (data) {
                if(data.status == 'success') {
                    $("#addMenuType").modal("hide");
                    $("#menutypeadd").val("");
                    var table = $('#menuTypeRecords').DataTable();
                    table.ajax.reload(null, false);
                }if(data.status == 'error'){
                    //display the message
                }

            }
        });
    });

    $(document).on("submit", "#editMenuTypeForm", function (e)
    {
        e.preventDefault();

        var data_array = $('#editMenuTypeForm').serialize();

        $.ajax({
            url: '{{ path('editMenuType') }}',
            data: data_array,
            type: "POST",
            success: function (data) {
                if(data.status == 'success') {
                    $("#editMenuType").modal("hide");
                    $("#editMenuTypetxt").val("");
                    $("#menutypeEditID").val("");
                    var table = $('#menuTypeRecords').DataTable();
                    table.ajax.reload(null, false);
                }if(data.status == 'error'){
                    //display the message
                }

            }
        });

    });

    $(document).on("submit", "#delMenuTypeForm", function (e){

        e.preventDefault();

        var data_array = $('#delMenuTypeForm').serialize();
//        console.log(data_array);
        $.ajax({
            url: '{{ path('deleteMenuType') }}',
            data: data_array,
            type: "POST",
            success: function (data) {
                if(data.status == 'success') {
                    $("#delMenuType").modal("hide");
                    $("#menutypedelID").val("");
                    var table = $('#menuTypeRecords').DataTable();
                    table.ajax.reload(null, false);
                }if(data.status == 'error'){
                    //display the message
                }
            }
        });

    });
</script>
{{ include(':agriApp:base_foot.html.twig') }}