{{ include(':agriApp:base_head.html.twig') }}
<div class="container-fluid">

    <table id="reasonsRecords" style="width: 100%" class="display table table-striped table-bordered">
        <h1>Waste Reasons</h1>
        <h2><button type="button" data-toggle="modal" data-target="#addReasons"
                    class="bg-purple btn btn-xs"><b><i class="fa fa-plus"></i> Add Waste Reason</b></button></h2>
        <thead>
        <th>ID</th>
        <th>Reason</th>
        <th></th>
        </thead>
        <tbody>

        </tbody>
    </table>

</div>



<div id="addReasons" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="box-header with-border">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h3 class="box-title">Add Reason</h3>
                </div>
                <div class="modal-body">
                    <form id="addReasonForm" role="form" action="">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="range">Reason</label>
                                <input type="text" class="form-control" id="txt_reason_add"
                                       name="txt_reason_add"
                                       placeholder="e.g. Spoilage" required>
                            </div>
                        </div>
                        <!-- /.box-body -->

                        <div class="box-footer">
                            <button id="btn" type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
</div>

<div id="editReasons" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="box-header with-border">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h3 class="box-title">Edit Reason</h3>
                </div>
                <div class="modal-body">
                    <form id="editReasonForm" role="form" action="">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="range">Reason</label>
                                <input type="text" class="form-control" id="txt_reason_edit"
                                       name="txt_reason_edit"
                                       placeholder="" required>
                                <input type="hidden" id="h_reasonID_edit" name="h_reasonID_edit">

                            </div>
                        </div>
                        <!-- /.box-body -->

                        <div class="box-footer">
                            <button id="editBtn" type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
</div>

<div id="delReasons" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="box-header with-border">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h3 class="box-title">Confirm Delete</h3>
                </div>
                <div class="modal-body">
                    <form id="delReasonsForm" role="form"
                          action=""
                          method="">
                        <div class="box-body">
                            <p class="text-black">Are you sure you want to delete this
                                Instance??</p>
                            <div class="box-footer">
                                <button type="submit" class="pull-right btn btn-primary">Yes
                                </button>
                                <button type="button" class="pull-left btn btn-primary"
                                        data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">No</span></button>
                            </div>
                            <input type="hidden" id="h_reasonID_del" name="h_reasonID_del">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {

        var tHead = $('#reasonsRecords thead th');
        tHead.not(":eq(0),:eq(2)").each(function () {
            var title = $(this).text();
            //console.log(title);
            $(this).html('<input style="width:100%" type="text" placeholder='+ "\"" + title + "\"" +  '>');
        });

        var table = $('#reasonsRecords').DataTable({

            "deferRender": true,

            "ajax" :
                {
                    "url": "{{ path('ReasonsRecords') }}",
                    "type": "GET"
                },

            "columns": [
                {"data": "id"},
                {"data": "reason"}

            ],
            order: [],
            "pageLength": 15,
            "lengthMenu": [[15, 25, 50, -1], [15, 25, 50, "All"]],
            columnDefs: [{
                id: "DT_RowId",
                "targets": [0],
                "orderable": false,
                "searchable": false,
                "visible": false
            },
                {
                    "targets": [1],
                    "orderable": false
                },
                {
                    "targets":[2],
                    "data": null,
                    "defaultContent":'<span class="pull-right"><button type="button" data-toggle="modal" data-target="#delReasons" class="deleteBut btn-group-xs btn bg-red-active"><b><i class="fa fa-times"></i></b></button></span><span class="pull-left"><button type="button" data-toggle="modal" data-target="#editReasons" class="editBut btn-group-xs btn bg-blue-gradient"><b><i class="fa fa-pencil"></i></b></button></span>',
                    "orderable":false
                }
            ]
        });
        table.columns().every(function () {
            var that = this;

            $('input', this.header()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();
                }
            });

            $('select', this.header()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    console.log(this.value);
                    if (this.value === "") {
                        that.search('').draw();
                    }
                    else that.search("^" + this.value + "$", true, false).draw();
                }
            });

        });
    });


</script>


<script>
    $('#reasonsRecords tbody').on( 'click', '.deleteBut', function () {
        var table = $('#reasonsRecords').DataTable();
        var data = table.row( $(this).parents('tr') ).data();
        $("#h_reasonID_del").val(data.id);
//        deleterow(data.id);
    });

    $('#reasonsRecords tbody').on( 'click', '.editBut', function () {
        var table = $('#reasonsRecords').DataTable();
        var data = table.row( $(this).parents('tr') ).data();
//        console.log($.parseHTML(data.range)[0].data);
        editRow(data.id,$.parseHTML(data.reason)[0].data);
    });

    function editRow(e,f)
    {
        var table = $('#reasonsRecords').DataTable();
//        editCompanyAnnualSalesForm
        $("#txt_reason_edit").val(f);
        $("#h_reasonID_edit").val(e);

    }

</script>

<script>
    $(document).on("submit", "#addReasonForm", function (e) {

        e.preventDefault();

        var data_array = $('#addReasonForm').serialize();

        $.ajax({
            url: '{{ path('addReason') }}',
            data: data_array,
            type: "POST",
            success: function (data) {
                if(data.status == 'success') {
                    $("#addReasons").modal("hide");
                    $("#txt_reason_add").val("");
                    var table = $('#reasonsRecords').DataTable();
                    table.ajax.reload(null, false);
                }if(data.status == 'error'){
                    //display the message
                }

            }
        });
    });

    $(document).on("submit", "#editReasonForm", function (e)
    {
        e.preventDefault();

        var data_array = $('#editReasonForm').serialize();

        $.ajax({
            url: '{{ path('editReason') }}',
            data: data_array,
            type: "POST",
            success: function (data) {
                if(data.status == 'success') {
                    $("#editReasons").modal("hide");
                    $("#txt_reason_edit").val("");
                    $("#h_reasonID_edit").val("");
                    var table = $('#reasonsRecords').DataTable();
                    table.ajax.reload(null, false);
                }if(data.status == 'error'){
                    //display the message
                }

            }
        });

    });

    $(document).on("submit", "#delReasonsForm", function (e){

        e.preventDefault();

        var data_array = $('#delReasonsForm').serialize();
//        console.log(data_array);
        $.ajax({
            url: '{{ path('deleteReason') }}',
            data: data_array,
            type: "POST",
            success: function (data) {
                if(data.status == 'success') {
                    $("#delReasons").modal("hide");
                    $("#h_reasonID_del").val("");
                    var table = $('#reasonsRecords').DataTable();
                    table.ajax.reload(null, false);
                }if(data.status == 'error'){
                    //display the message
                }
            }
        });

    });

</script>


{{ include(':agriApp:base_foot.html.twig') }}