{{ include(':agriApp:base_head.html.twig') }}
<div class="container-fluid">

    <table id="licenseRecords"  style="width: 100%" class="display table table-striped table-bordered">
        <h1>Licenses</h1>
        <h2><button type="button" data-toggle="modal" data-target="#addLicense"
                    class="bg-purple btn btn-xs"><b><i class="fa fa-plus"></i> Add License</b></button>
        </h2>
        <thead>
        <th>ID</th>
        <th>License</th>
        <th>User Count</th>
        <th>Start Date</th>
        <th>Expiry Date</th>
        <th>Premium</th>
        <th>Active</th>
        <th>SubLicenses Remaining</th>
        <th></th>
        </thead>
        <tbody>

        </tbody>
    </table>

</div>


<div id="addLicense" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="box-header with-border">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h3 class="box-title">Add License</h3>
                </div>
                <div class="modal-body">
                    <form id="addLicenseForm" role="form" action="">
                        <div class="box-body">
                            <div class="form-group">
                                <div class="form-group">
                                <label for="licenseadd">License</label>
                                <input type="text" class="form-control" id="licenseadd"
                                       name="licenseadd" value="{{ licenseKey }}"
                                       placeholder="" disabled>
                                </div>
                                <div class="form-group">
                                    <label for="usercountadd">User Count</label>
                                    <input type="number" class="form-control" id="usercountadd"
                                           name="usercountadd" required>
                                    <label id="usercountadd_error" style="color: red"></label>
                                </div>
                                <div>
                                    <label for="startDateadd">Start Date</label>
                                    <input type="text" class="form-control datepicker" id="startDateadd"
                                           name="startDateadd" required>

                                    <label for="expiryDateadd">Expiry Date</label>
                                    <input type="text" class="form-control datepicker" id="expiryDateadd"
                                           name="expiryDateadd" required>
                                    <label id="dateadd_error" style="color: red"></label>
                                </div>
                                <label for="isPremiumadd">Premium</label>
                                <input type="checkbox" value="1" name="isPremiumadd" id="isPremiumadd">

                                <label for="isActiveadd">Active</label>
                                <input type="checkbox" value="1" name="isActiveadd" id="isActiveadd">
                            </div>
                        </div>
                        <div class="box-footer">
                            <button id="btn" type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
</div>

<div id="editLicense" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="box-header with-border">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h3 class="box-title">Edit License</h3>
                </div>
                <div class="modal-body">
                    <form id="editLicenseForm" role="form" action="">
                        <div class="box-body">
                            <div class="form-group">
                                <div class="form-group">
                                <label for="licenseedit">License</label>
                                <input type="text" class="form-control " id="licenseedit"
                                       name="licenseedit"
                                       placeholder="" disabled>
                                </div>
                                <div class="form-group">
                                    <label for="usercountedit">User Count</label>
                                    <input type="number" class="form-control" id="usercountedit"
                                           name="usercountedit" required>
                                    <label id="usercountedit_error" style="color: red"></label>
                                </div>
                                <div class="form-group">
                                    <label for="startDateedit">Start Date</label>
                                    <input type="date" class="form-control datepicker" id="startDateedit"
                                           name="startDateedit" required>

                                    <label for="expiryDateedit">Expiry Date</label>
                                    <input type="date" class="form-control datepicker" id="expiryDateedit"
                                           name="expiryDateedit" required>


                                    <label id="dateedit_error" style="color: red"></label>
                                </div>
                                <label for="isPremiumedit">Premium</label>
                                <input type="checkbox" value="1" name="isPremiumedit" id="isPremiumedit">

                                <label for="isActiveedit">Active</label>
                                <input type="checkbox" value="1" name="isActiveedit" id="isActiveedit">

                                <input type="hidden" id="editLicenseID" name="editLicenseID">
                            </div>
                        </div>

                        <div class="box-footer">
                            <button id="editBtn" type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
</div>

<div id="delLicense" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="box-header with-border">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h3 class="box-title">Confirm Delete</h3>
                </div>
                <div class="modal-body">
                    <form id="delLicenseForm" role="form"
                          action=""
                          method="">
                        <div class="box-body">
                            <p class="text-black">Are you sure you want to delete this
                                Instance??</p>
                            <div class="box-footer">
                                <button type="submit" class="pull-right btn btn-primary">Yes
                                </button>
                                <button type="button" class="pull-left btn btn-primary"
                                        data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">No</span></button>
                            </div>
                            <input type="hidden" id="delLicenseID" name="delLicenseID">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



<script>

    $(document).ready(function () {

        var tHead = $('#licenseRecords thead th');
        tHead.not(":eq(0),:eq(8)").each(function () {
            var title = $(this).text();
            //console.log(title);
            $(this).html('<input style="width:100%" type="text" placeholder='+ "\"" + title + "\"" +  '>');
        });

        var table = $('#licenseRecords').DataTable({

            "deferRender": true,

            "ajax" :
                {
                    "url": "{{ path('LicenseRecords') }}",
                    "type": "GET"
                },

            "columns": [
                {"data": "id"},
                {"data": "license"},
                {"data": "userCount"},
                {"data": "startDate"},
                {"data": "expiryDate"},
                {"data": "ispremium"},
                {"data": "isactive"},
                {"data": "usersOnLicense"}


            ],
            order: [],
            "pageLength": 15,
            "lengthMenu": [[15, 25, 50, -1], [15, 25, 50, "All"]],
            columnDefs: [{
                id: "DT_RowId",
                "targets": [0],
                "orderable": false,
                "searchable": false,
                "visible": false
            },
                {
                    "targets": [1,2,3,4,5,6,7],
                    "orderable": false
                },
                {
                    "targets":[8],
                    "data": null,
                    "defaultContent":'<span class="pull-right"><button type="button" data-toggle="modal" data-target="#delLicense" class="deleteBut btn-group-xs btn bg-red-active"><b><i class="fa fa-times"></i></b></button></span><span class="pull-left"><button type="button" data-toggle="modal" data-target="#editLicense" class="editBut btn-group-xs btn bg-blue-gradient"><b><i class="fa fa-pencil"></i></b></button></span>',
                    "orderable":false
                }
            ]
        });
        table.columns().every(function () {
            var that = this;

            $('input', this.header()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();
                }
            });

            $('select', this.header()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    console.log(this.value);
                    if (this.value === "") {
                        that.search('').draw();
                    }
                    else that.search("^" + this.value + "$", true, false).draw();
                }
            });

        });
    });


</script>

<script>
    $('#licenseRecords tbody').on( 'click', '.deleteBut', function () {
        var table = $('#licenseRecords').DataTable();
        var data = table.row( $(this).parents('tr') ).data();
        $("#delLicenseID").val(data.id);
//        deleterow(data.id);
    });
    $('#licenseRecords tbody').on( 'click', '.editBut', function () {
        var table = $('#licenseRecords').DataTable();
        var data = table.row( $(this).parents('tr') ).data();
//        console.log($.parseHTML(data.range)[0].data);
        editRow(data.id,$.parseHTML(data.userCount)[0].data,$.parseHTML(data.license)[0].data,$.parseHTML(data.startDate)[0].data,$.parseHTML(data.expiryDate)[0].data,$.parseHTML(data.ispremium)[0].data,$.parseHTML(data.isactive)[0].data);
    });

    function editRow(e,f,g,h,i,j,k)
    {

        console.log(j);
        $("#usercountedit").val(f);
        $("#editLicenseID").val(e);
        $("#licenseedit").val(g);
        $("#startDateedit").val(h);
        $("#expiryDateedit").val(i);
        if(j == 1)
            $("#isPremiumedit").prop('checked', true);
        else
            $("#isPremiumedit").prop('checked', false);

        if(k == 1)
            $("#isActiveedit").prop('checked', true);
        else
            $("#isActiveedit").prop('checked', false);

    }

</script>

<script>
    $(document).on("submit", "#addLicenseForm", function (e) {

        e.preventDefault();

        var data_array = $('#addLicenseForm').serialize();

        console.log(data_array);
        //return false;

        $.ajax({
            url: '{{ path('addLicense') }}',
            data: data_array+'&licenseadd='+'{{ licenseKey }}',
            type: "POST",
            success: function (data) {
                if(data.status == 'success') {
                    $("#addLicense").modal("hide");
                    $("#usercountadd").val("");
                    $("#licenseadd").val("");
                    $("#isPremiumadd").prop("checked",false);
                    $("#isActiveadd").prop("checked",false);
                    $("#startDateadd").val("");
                    $("#dateadd_error").text("");
                    $("#usercountadd_error").text("");
                    $("#expiryDateadd").val("");
                    var table = $('#licenseRecords').DataTable();
                    table.ajax.reload(null, false);
                }if(data.status == 'error'){
                    alert(data.message);
                }if(data.status == 'form_error'){
                    //alert(data.message.usercount +" "+data.message.date );
                    $("#usercountadd_error").text(data.message.usercount);
                    $("#dateadd_error").text(data.message.date);

                }

            }
        });
    });

    $(document).on("submit", "#editLicenseForm", function (e)
    {
        e.preventDefault();

        var data_array = $('#editLicenseForm').serialize();

        //  console.log(data_array);

        $.ajax({
            url: '{{ path('editLicense') }}',
            data: data_array,
            type: "POST",
            success: function (data) {
                if(data.status == 'success') {
                    $("#editLicense").modal("hide");
                    $("#licenseedit").val("");
                    $("#usercountedit").val("");
                    $("#editlicenseid").val("");
                    $("#startDateedit").val("");
                    $("#dateedit_error").text("");
                    $("#usercountedit_error").text("");
                    $("#expiryDateedit").val("");
                    $("#isPremiumedit").prop("checked",false);
                    $("#isActiveedit").prop("checked",false);
                    var table = $('#licenseRecords').DataTable();
                    table.ajax.reload(null, false);
                }if(data.status == 'error'){
                    alert(data.message);
                }if(data.status == 'form_error'){
                    //alert(data.message.usercount +" "+data.message.date );
                    $("#usercountedit_error").text(data.message.usercount);
                    $("#dateedit_error").text(data.message.date);

                }

            }
        });

    });

    $(document).on("submit", "#delLicenseForm", function (e){

        e.preventDefault();

        var data_array = $('#delLicenseForm').serialize();
//        console.log(data_array);
        $.ajax({
            url: '{{ path('deleteLicense') }}',
            data: data_array,
            type: "POST",
            success: function (data) {
                if(data.status == 'success') {
                    $("#delLicense").modal("hide");
                    $("#delLicenseID").val("");
                    var table = $('#licenseRecords').DataTable();
                    table.ajax.reload(null, false);
                }if(data.status == 'error'){
                    alert(status.message);
                }
            }
        });

    });

</script>

<script>
    $('.datepicker').datepicker({
        todayHighlight : true,
        autoclose: true,
        format: 'dd-mm-yyyy'
    });
</script>

<script>
  /*  $('#editLicense').on('hidden.bs.modal', function (e) {
        // do something...
        console.log("modal hidden");
    })*/
</script>
{{ include(':agriApp:base_foot.html.twig') }}