{{ include(':agriApp:base_head.html.twig') }}
<div class="container-fluid">

    <table id="annualSalesRecords"  style="width: 100%" class="display table table-striped table-bordered">
        <h1>Annual Sales Ranges</h1>
        <h2><button type="button" data-toggle="modal" data-target="#addCompanyAnnualSales"
                    class="bg-purple btn btn-xs"><b><i class="fa fa-plus"></i> Add Company Annual Sales</b></button>
        </h2>
        <thead>
        <th>ID</th>
        <th>Range</th>
        <th></th>
        </thead>
        <tbody>

        </tbody>
    </table>

</div>


<div id="addCompanyAnnualSales" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="box-header with-border">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h3 class="box-title">Add Range</h3>
                </div>
                <div class="modal-body">
                    <form id="addCompanyAnnualSalesForm" role="form" action="">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="range">Range</label>
                                <input type="text" class="form-control" id="range"
                                       name="range"
                                       placeholder="e.g. 10K - 20K" required>
                            </div>
                        </div>
                        <!-- /.box-body -->

                        <div class="box-footer">
                            <button id="btn" type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
</div>

<div id="editCompanyAnnualSales" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="box-header with-border">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h3 class="box-title">Edit Range</h3>
                </div>
                <div class="modal-body">
                    <form id="editCompanyAnnualSalesForm" role="form" action="">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="range">Range</label>
                                <input type="text" class="form-control" id="rangeEdit"
                                       name="range"
                                       placeholder="" required>
                                <input type="hidden" id="rangeEditID" name="id">

                            </div>
                        </div>
                        <!-- /.box-body -->

                        <div class="box-footer">
                            <button id="editBtn" type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
</div>

<div id="delCompanyAnnualSales" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="box-header with-border">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h3 class="box-title">Confirm Delete</h3>
                </div>
                <div class="modal-body">
                    <form id="delCompanySales" role="form"
                          action=""
                          method="">
                        <div class="box-body">
                            <p class="text-black">Are you sure you want to delete this
                                Instance??</p>
                            <div class="box-footer">
                                <button type="submit" class="pull-right btn btn-primary">Yes
                                </button>
                                <button type="button" class="pull-left btn btn-primary"
                                        data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">No</span></button>
                            </div>
                            <input type="hidden" id="delSales" name="delSalesID">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



<script>

    $(document).ready(function () {

        var tHead = $('#annualSalesRecords thead th');
        tHead.not(":eq(0),:eq(2)").each(function () {
            var title = $(this).text();
            //console.log(title);
            $(this).html('<input style="width:100%" type="text" placeholder='+ "\"" + title + "\"" +  '>');
        });

        var table = $('#annualSalesRecords').DataTable({

            "deferRender": true,

            "ajax" :
                {
                    "url": "{{ path('AnnualSalesRecords') }}",
                    "type": "GET"
                },

            "columns": [
                {"data": "id"},
                {"data": "range"}

            ],
            order: [],
            "pageLength": 15,
            "lengthMenu": [[15, 25, 50, -1], [15, 25, 50, "All"]],
            columnDefs: [{
                id: "DT_RowId",
                "targets": [0],
                "orderable": false,
                "searchable": false,
                "visible": false
            },
                {
                    "targets": [1],
                    "orderable": false
                },
                {
                    "targets":[2],
                    "data": null,
                    "defaultContent":'<span class="pull-right"><button type="button" data-toggle="modal" data-target="#delCompanyAnnualSales" class="deleteBut btn-group-xs btn bg-red-active"><b><i class="fa fa-times"></i></b></button></span><span class="pull-left"><button type="button" data-toggle="modal" data-target="#editCompanyAnnualSales" class="editBut btn-group-xs btn bg-blue-gradient"><b><i class="fa fa-pencil"></i></b></button></span>',
                    "orderable":false
                }
            ]
        });
        table.columns().every(function () {
            var that = this;

            $('input', this.header()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();
                }
            });

            $('select', this.header()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    console.log(this.value);
                    if (this.value === "") {
                        that.search('').draw();
                    }
                    else that.search("^" + this.value + "$", true, false).draw();
                }
            });

        });
    });


</script>

<script>
    $('#annualSalesRecords tbody').on( 'click', '.deleteBut', function () {
        var table = $('#annualSalesRecords').DataTable();
        var data = table.row( $(this).parents('tr') ).data();
        $("#delSales").val(data.id);
//        deleterow(data.id);
    });
    $('#annualSalesRecords tbody').on( 'click', '.editBut', function () {
        var table = $('#annualSalesRecords').DataTable();
        var data = table.row( $(this).parents('tr') ).data();
//        console.log($.parseHTML(data.range)[0].data);
        editRow(data.id,$.parseHTML(data.range)[0].data);
    });

    function editRow(e,f)
    {
        var table = $('#annualSalesRecords').DataTable();
//        editCompanyAnnualSalesForm
        $("#rangeEdit").val(f);
        $("#rangeEditID").val(e);

    }
/*    function deleterow(e) {
        var table = $('#annualSalesRecords').DataTable();
        if (confirm('Are you sure you want to delete this?')) {
            $.ajax({
                url: '/deleteAnnualSaleRange/'+e,
                type: 'POST',
                success: function (data) {
                    if(data.status == 'success') {
                        table.ajax.reload(null, false);
                    }if(data.status == 'error'){
                        //display the message
                    }
                }
            });
        }
    }*/
</script>

<script>
    $(document).on("submit", "#addCompanyAnnualSalesForm", function (e) {

        e.preventDefault();

        var data_array = $('#addCompanyAnnualSalesForm').serialize();

        $.ajax({
            url: '{{ path('addAnnualSales') }}',
            data: data_array,
            type: "POST",
            success: function (data) {
                if(data.status == 'success') {
                    $("#addCompanyAnnualSales").modal("hide");
                    $("#range").val("");
                    var table = $('#annualSalesRecords').DataTable();
                    table.ajax.reload(null, false);
                }if(data.status == 'error'){
                    //display the message
                }

            }
        });
    });

    $(document).on("submit", "#editCompanyAnnualSalesForm", function (e)
    {
        e.preventDefault();

        var data_array = $('#editCompanyAnnualSalesForm').serialize();

        $.ajax({
            url: '{{ path('editAnnualSales') }}',
            data: data_array,
            type: "POST",
            success: function (data) {
                if(data.status == 'success') {
                    $("#editCompanyAnnualSales").modal("hide");
                    $("#range").val("");
                    var table = $('#annualSalesRecords').DataTable();
                    table.ajax.reload(null, false);
                }if(data.status == 'error'){
                    //display the message
                }

            }
        });

    });

    $(document).on("submit", "#delCompanySales", function (e){

        e.preventDefault();

        var data_array = $('#delCompanySales').serialize();
//        console.log(data_array);
        $.ajax({
            url: '{{ path('deleteAnnualSaleRange') }}',
            data: data_array,
            type: "POST",
            success: function (data) {
                if(data.status == 'success') {
                    $("#delCompanyAnnualSales").modal("hide");
                    $("#delSales").val("");
                    var table = $('#annualSalesRecords').DataTable();
                    table.ajax.reload(null, false);
                }if(data.status == 'error'){
                    //display the message
                }
            }
        });

    });

</script>
{{ include(':agriApp:base_foot.html.twig') }}